.leftmenu {
  height: 130vh;
  width: 27%;
  border-right: 1px solid rgb(156, 150, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all_categories {
  margin: 40px 30px;
  width: 220px;
}
.leftmenu i {
  font-size: 0.7rem;
}
@media screen and (max-width: 600px) {
  .leftmenu {
    width: 100%;
    height: auto;
    border: none;
  }
  .all_categories {
    width: 250px;
  }
}
