.profile {
  padding: 3% 15% 10% 15%;
}
.profile_pic {
  text-align: center;
}
#user_profile_pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;

  background-color: rgb(209, 209, 209);
}
.user_name {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
}
